.piano {
  display: flex;
  height: 100px;
  width: 800px;
}

.piano button {
  flex-grow: 1;
  background-color: ivory;
  border: 2px solid black;
  box-shadow: 0 7px 10px black;
}

.piano .black {
  flex-grow: 0;
  height: 80%;
  flex-basis: 7%;
  background-color: black;
}

.piano .pressed {
  border-color: red;
  box-shadow: 0 5px 10px black;
}