body {
  margin: 1em;
  font-family: 'Courier New', Courier, monospace;
}

canvas {
  display: block;
  position: sticky;
  margin-bottom: 2em;
  top: 1em;
  z-index: -1;
}

.ui {
  padding: 1em;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, .8);
  background-color: rgba(255, 255, 255, .8);
}

select {
  min-width: 150px;
}

label span {
  margin-right: 1em;
}

.active {
  border: 1px solid red;
}

fieldset,
.controls {
  display: inline-flex;
  flex-direction: column;
}

fieldset,
legend {
  margin: 1em 0;
}

.control {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

fieldset {
  position: relative;
  border: none;
  padding: 0;
}

.actions {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
}

.actions a {
  margin: 1em;
}

.devices button {
  display: block;
  margin: 1em;
}